{% extends "layout/default.njk" %}

{% block SideNav %}
{% include "includes/sidenav.njk" %}
{% endblock %}

{% block Header %}
{% include "includes/header.njk" %}
{% endblock %}

{% block Content %}

<div>
  <div style="font-size:1.5em;">Lit Components</div>
  <div style="display:flex; flex-direction:column; font-size:.9em; color:black; padding-left:8px; padding-top:16px;">
    <div>This is a web components pack based on lit.</div>
    <div>you can just use these  with others or lit env.</div>
  </div>
</div>
  

{% endblock %}